.header-region-bgr{
    /* set background with full size of image*/
    background: url('../image-tram-cam/6225303882a82af673b9.jpg')
        no-repeat 
        center 
        center 
        fixed;
}

.white-text{
    color: #fff;
}

.header-label{
    font-size: 40px !important;
}

.header-margin-bot{
    margin-bottom: 20px;
}

.region3-bgr{
    background: url('../image-tram-cam/haisdhioashiodioasiohd.jpg')
        no-repeat 
        center 
        center 
        fixed; 
    /* make it full of element */
    background-size: cover;
}

.region5-bgr{
    /* set half left is black, half right is image */
    background: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../image-tram-cam/6580118da31d0b43520c.jpg')
        no-repeat 
        center 
        center 
        fixed;
    /* make it full of element */
    background-size: cover;
}

.footer-region-bgr{
    /* get top of image */
    background: url('../image-tram-cam/672af53247a2effcb6b3.jpg')
        no-repeat 
        center 
        center 
        fixed;
    /* make it full of element */
    background-size: cover;
}

@import url("https://fonts.googleapis.com/css?family=Raleway:400");

@property --angle {
  syntax: '<angle>';
  initial-value: 90deg;
  inherits: true;
}

@property --gradX {
  syntax: '<percentage>';
  initial-value: 50%;
  inherits: true;
}

@property --gradY {
  syntax: '<percentage>';
  initial-value: 0%;
  inherits: true;
}

:root {
	--d: 2500ms;
	--angle: 90deg;
	--gradX: 100%;
	--gradY: 50%;
	--c1: rgb(226, 226, 226);
	--c2: rgba(168, 239, 255, 0.1);
}

.wrapper {
	min-width: min(40rem, 100%);
}

.box {
	font-size: 3vw;
	margin: max(1rem, 3vw);
	border: 0.35rem solid;
	padding: 2vw;
	border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
	animation: borderRotate var(--d) linear infinite forwards;
}

.box:nth-child(2) {
	border-image: radial-gradient(ellipse at var(--gradX) var(--gradY), var(--c1), var(--c1) 10%, var(--c2) 40%) 30;
	animation: borderRadial var(--d) linear infinite forwards;
}

@keyframes borderRotate {
	100% {
		--angle: 420deg;
	}
}

@keyframes borderRadial {
	20% {
		--gradX: 100%;
		--gradY: 50%;
	}
	40% {
		--gradX: 100%;
		--gradY: 100%;
	}
	60% {
		--gradX: 50%;
		--gradY: 100%;
	}
	80% {
		--gradX: 0%;
		--gradY: 50%;
	}
	100% {
		--gradX: 50%;
		--gradY: 0%;
	}
}